body{
    margin: auto;
    padding: 4%;
    text-align: center;
    background-color: #000;
 
 
}
table{
    border: 3px solid #000;
    color: black;
    background-color: cornflowerblue;
    text-align: center;
}
td{
    border: 3px solid;
    background-color: darkcyan;
    color: aliceblue;
    
}
th{
    border: 3px solid #000;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 1px #000;
}

h1{
    color: aliceblue;
    text-shadow: -1px 1px 1px #000;
}
h2{
    color: crimson;
    text-shadow: -1px 1px 1px #000;
}